.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 99;
}
.list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list ul li {
  list-style: none;
  padding: 25px;
  margin-top: 5px;
}

.list ul li a {
  text-decoration: none;
  color: gray;
  font-size: 28px;
}

.list ul li a:hover {
  color: black;
}

.list ul li .different {
  color: black;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ecomnerce h3 {
  margin-top: 40px;
  font-size: 35px;
}

.buttons {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button {
  background-color: transparent;
  border: 1px solid black;
  padding: 15px;
  width: 150px;
  display: flex;
  border-radius: 20px;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons button:hover {
  background-color: black;
  color: white;
  stroke: white;
  fill: white;
}
